
.grid {
    //background: rgba(255, 0, 0, .05);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: $grid-width + $grid-gutter;

    > * {
        box-sizing: border-box;
        padding-left: $grid-gutter/2;
        padding-right: $grid-gutter/2;
        width: 100%;
    }

}

.grid .grid {
    margin-left: -$grid-gutter/2;
    margin-right: -$grid-gutter/2;
    max-width: none;
    width: calc(100% + #{$grid-gutter});
}

.grid-6 {
    width: 6 * $grid-width/12 + $grid-gutter;
}

.grid-8 {
    width: 8 * $grid-width/12 + $grid-gutter;
}

.grid-vertical-center {
    align-items: center;
}

.grid-indent-1 { padding-left: $grid-width / 12 * 1; }

.grid-wide {

}

.columns-4 { width: 100% / 12 * 4; }
.columns-6 { width: 100% / 12 * 6; }
.columns-8 { width: 100% / 12 * 8; }

.columns-4.grid-max-width { max-width: $grid-width / 12 * 4; }
.columns-6.grid-max-width { max-width: $grid-width / 12 * 6; }
.columns-8.grid-max-width { max-width: $grid-width / 12 * 8; }

.grid-max-width {
    width: 100%;
}

.column-center {
    margin-left: auto;
    margin-right: auto;
}
