/* ==========================================================================
   Basic HTML elements
========================================================================== */

html {
    font-size: 16px;
}

body {
    margin: 0;
}

figure {
    margin: 0;

    img {
        height: auto;
        max-width: 100%;
        vertical-align: top;
    }

}

.svg-icon {
    fill: currentColor;
    height: auto;
    vertical-align: middle;
    width: 1em;
}

a {
    color: inherit;
}


/* ==========================================================================
   Layout
========================================================================== */



/* Wrapper
========================================================================== */



/* Header
========================================================================== */



/* Main navigation
========================================================================== */


/* Footer
========================================================================== */


/* Container
========================================================================== */



/* ==========================================================================
   Modules
========================================================================== */




/* ==========================================================================
   Content elements
========================================================================== */




/* ==========================================================================
   Contents
========================================================================== */
